<?xml version="1.0" encoding="utf-8" ?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd">
<!-- 引入外部配置文件 -->
            <context:property-placeholder location="classpath:/jdbc.properties"/>
<!-- 开启属性注入注解方式 -->
            <context:annotation-config></context:annotation-config>
            
<!-- c3p0配置 -->
   			<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
   			    <property name="dataSource" ref="dataSource"></property>
   			    <property name="hibernateProperties">
    		        <props>
    		            <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
    		            <prop key="hibernate.show_sql">true</prop>
    		            <prop key="hibernate.format_sql">true</prop>
    		            <prop key="hibernate.hbm2ddl.auto">update</prop>
    		            <prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</prop>
    		        </props>
    		    </property>
    		    <property name="mappingResources">
    		        <list>
    		            <value>com/sy/crm/domain/User.hbm.xml</value>
    		            <value>com/sy/crm/domain/Customer.hbm.xml</value>
    		            <value>com/sy/crm/domain/BaseDict.hbm.xml</value>
    		            <value>com/sy/crm/domain/LinkMan.hbm.xml</value>
    		            <value>com/sy/crm/domain/SaleVisit.hbm.xml</value>
    		        </list>
    		    </property>
   			</bean>
			<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
   		    <property name="driverClass" value="${jdbc.driverClass}"></property>
   		    <property name="jdbcUrl" value="${jdbc.url}"></property>
   		    <property name="user" value="${jdbc.username}"></property>
   		    <property name="password" value="${jdbc.password}"></property>
   			</bean>  
<!-- 配置userAction -->
			<bean id="userAction" class="com.sy.crm.web.action.UserAction" scope="prototype">
			    <property name="userService" ref="userService"></property>
			</bean>
			<bean id="userService" class="com.sy.crm.service.impl.UserServiceImpl">
			    <property name="userDao" ref="userDao"></property>
			</bean>
			<bean id="userDao" class="com.sy.crm.dao.impl.UserDaoImpl">
			    <property name="sessionFactory" ref="sessionFactory"></property>
			</bean>
<!-- 配置customerAction -->
			<bean id="customerAction" class="com.sy.crm.web.action.CustomerAction" scope="prototype">
			    <property name="customerService" ref="customerService"></property>
			</bean>
			
			<bean id="customerService" class="com.sy.crm.service.impl.CustomerServiceImpl">
			    <property name="customerDao" ref="customerDao"></property>
			</bean>
			
			<bean id="customerDao" class="com.sy.crm.dao.impl.CustomerDaoImpl">
			    <property name="sessionFactory" ref="sessionFactory"></property>
			</bean>

<!-- 配置baseDictAction -->
			<bean id="baseDictAction" class="com.sy.crm.web.action.BaseDictAction" scope="prototype">
			    <property name="baseDictService" ref="baseDictService"></property>
			</bean>
			<bean id="baseDictService" class="com.sy.crm.service.impl.BaseDictServiceImpl">
			    <property name="baseDictDao" ref="baseDictDao"></property>
			</bean>
			<bean id="baseDictDao" class="com.sy.crm.dao.impl.BaseDictDaoImpl">
			     <property name="sessionFactory" ref="sessionFactory"></property>
			</bean>
			
<!-- 配置LinkManAction -->
			<bean id="linkManAction" class="com.sy.crm.web.action.LinkManAction" scope="prototype">
			    <property name="customerService" ref="customerService"></property>
			    <property name="linkManService" ref="linkManService"></property>
			</bean>
			<bean id="linkManService" class="com.sy.crm.service.impl.LinkManServiceImpl">
			    <property name="linkManDao" ref="linkManDao"></property>
			</bean>
			<bean id="linkManDao" class="com.sy.crm.dao.impl.LinkManDaoImpl">
			    <property name="sessionFactory" ref="sessionFactory"></property>
			</bean>
<!-- 配置SaleVisitAction -->
			<bean id="saleVisitAction" class="com.sy.crm.web.action.SaleVisitAction" scope="prototype">
			</bean>
			<bean id="saleVisitService" class="com.sy.crm.service.impl.SaleVisitServiceImpl">
			</bean>
			<bean id= "saleVisitDao" class="com.sy.crm.dao.impl.SaleVistDaoImpl">
			    <property name="sessionFactory" ref="sessionFactory"></property>
			</bean>
<!-- 配置事务管理平台 -->
			<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
			    <property name="sessionFactory" ref="sessionFactory"></property>
			</bean>
<!-- 开启注解事务 -->
			<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>